@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Categoria</title>
    <link rel="stylesheet" href="style.css">
</head>
<bodycatcre>

    <div class="containercatcre">
        <h1catcre>Cadastro de Categoria</h1catcre>
        <form action="#" method="post">
            <div class="form-groupcatcre">
                <labelcatcre for="codigo">Código:</labelcatcre>
                <input type="text" id="codigo" name="codigo" required>
            </div>

            <div class="form-groupcatcre">
                <label for="descricao">Descrição:</label>
                <input type="text" id="descricao" name="descricao" required>
            </div>

            <div class="form-buttonscatcre">
                <button type="submit" class="btncatcre savecatcre">Salvar</button>
                <button type="button" class="btncatcre backcatcre" onclick="window.history.back();">Voltar</button>
            </div>
        </form>
    </div>

</bodycatcre>
</html>