.containerCategoria {
    width: 60%;
    height: 60%;
    background-color: white;
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.container1Categoria {
    width: 100%;
    height: 15%;
    /* background-color: black; */
    display: flex;
    align-items: center;
}

.container2Categoria {
    width: 100%;
    height: 70%;
    /* background-color: green; */
}

.container3Categoria {
    width: 100%;
    height: 15%;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnCategoria {
    padding: 0.3rem;
    width: 100px;
    background-color: aquamarine;
    border-radius: 5px;
    border: 0;
    color: white;
    font-weight: bolder;
}

.BtnAzulColorCatogeria {
    background-color: cyan !important;
}

.theadCategoria {
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
}

.TableContainerCateogira {
    width: 100%;
    font-size: 15pt !important;
}

.TableContainerCategoria td, th {
    border: 1px solid black;
}

.tdCatoria {
    background-color: white;
    color: black;
}

.Icone1Categoria {
    background-color: red;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.Icone2Catogira {
    background-color: yellow;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.IconesContainerCatogeria {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 1rem;
}

@media (max-width: 768px) {
    .containerCategoria {
        width: 82%;
    }
}
