.containerEnt {
    width: 60%;
    height: 60%;
    background-color: white;
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.container1Ent {
    width: 100%;
    height: 15%;
    /* background-color: black; */
    display: flex;
    align-items: center;
}

.container2Ent {
    width: 100%;
    height: 70%;
    /* background-color: green; */
}

.container3Ent {
    width: 100%;
    height: 15%;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnEnt {
    padding: 0.3rem;
    width: 100px;
    background-color: aquamarine;
    border-radius: 5px;
    border: 0;
    color: white;
    font-weight: bolder;
}

.BtnAzulColorEnt {
    background-color: cyan !important;
}

.theadEnt {
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
}

.TableContainerEnt {
    width: 100%;
    height: 80px;
    font-size: 15pt !important;
}

    .TableContainerEnt td, th {
        border: 1px solid black;
    }

.tdEnt {
    background-color: white;
    color: black;
}

.Icone1Ent {
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.trash-btn{
    background-color:#ffff;
    border-color:white;
}
.trash-btn:hover  {
    background-color: #b6ff00;
}
fas fa-edit{
    background-color: black;
}
.Icone2Ent {
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.edit-button {
    background-color: #ffff;
    border-color: white;
}

    .edit-button:hover {
        background-color: #b6ff00;
        cursor: pointer;
    }
.IconesContainerEnt {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 1rem;
}

@media (max-width: 768px) {
    .containerEnt {
        width: 82%;
    }
}
