<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/categoria.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/categoriacreate.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Produto.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Produtocreate.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Fornecedor.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Secretaria.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Entrada.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Saida.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AlmoxafiradoFront.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="cabecalho">
        <div class="menu">
            <a class="itemmenu" href="/Produto">
                <span class="itemtexto">Produto</span>
            </a>
            <a class="itemmenu" href="/Entrada">
                <span class="itemtexto">Entrada</span>
            </a>
            <a class="itemmenu" href="/Saida">
                <span class="itemtexto">Saída</span>
            </a>
            <a class="itemmenu" href="http://localhost:5027/">
                <span class="itemtexto">Gestão</span>
            </a>
            <a class="itemmenu" href="/Categoria">
                <span class="itemtexto">Categoria</span>
            </a>
            <a class="itemmenu" href="/Fornecedor">
                <span class="itemtexto">Fornecedor</span>
            </a>
                <a class="itemmenu" href="/Secretaria">
                    <span class="itemtexto">Secretaria</span>
                </a>
            </div>
        </div>
        <div class="perfil">
            <span class="pessoa">Davi</span>
            <span class="loginlogoff">Logoff</span>
        </div>
    </div>
    <div class="pagina">
        <div class="conteudo">
               @RenderBody()
        </div>
    </div>
</body>
</html>