<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/categoria.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AlmoxafiradoFront.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="cabecalho">
        <div class="menu">
            <div class="itemmenu">
                <span class="itemtexto">Produto</span>
            </div>
            <div class="itemmenu">
                <span class="itemtexto">Entrada</span>
            </div>
            <div class="itemmenu">
                <span class="itemtexto">Saída</span>
            </div>
            <div class="itemmenu">
                <span class="itemtexto">Gestão</span>
            </div>
        </div>
        <div class="perfil">
            <span class="pessoa">Reginaldo</span>
            <span class="loginlogoff">Logoff</span>
        </div>
    </div>
    <div class="pagina">
        <div class="conteudo">
               @RenderBody()
        </div>
    </div>
</body>
</html>