<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Fornecedor.css">
</head>
<bodyfor>


    <div class="containerfor">
        <h2>Cadastro de Fornecedor</h2>
        <form>
            <div class="form-group">
                <label for="nomeFornecedor">Nome</label>
                <input type="text" id="nomeFornecedor" name="nomeFornecedor" required>
            </div>
            <div class="form-group">
                <label for="telefoneFornecedor">Telefone</label>
                <input type="text" id="telefoneFornecedor" name="telefoneFornecedor" required>
            </div>
            <div class="form-group">
                <label for="estadoFornecedor">Estado</label>
                <input type="text" id="estadoFornecedor" name="estadoFornecedor" required>
            </div>
            <div class="form-group">
                <label for="cidadeFornecedor">Cidade</label>
                <input type="text" id="cidadeFornecedor" name="cidadeFornecedor" required>
            </div>
            <div class="form-group">
                <label for="cnpjFornecedor">CNPJ</label>
                <input type="text" id="cnpjFornecedor" name="cnpjFornecedor" required>
            </div>

            <div class="button-container">
                <button type="button" class="btn btn-cancel" onclick="cancelar()">Cancelar</button>
                <button type="submit" class="btn btn-save">Salvar</button>
            </div>
        </form>
    </div>

    <script>
        function cancelar() {
            // Limpa todos os campos do formulário
            document.querySelector('form').reset();
        }
    </script>


</bodyfor>
</html>