<div id="container" class="containerEnt">
    <div class="container1Ent">
        <div>
            <a class="btnEnt" href="/Entrada/Create"> Novo
            </a>
        </div>
    </div>
    <div class="container2Ent">
        <table class="TableContainerEnt">
            <thead class="theadEnt">
            <th>
                Código
            </th>
            <th>
                Data de Entrada
            </th>
            <th>
                Quantidade atual
            </th>
            <th>
                Opções
            </th>
            </thead>
            <tbody>

                @foreach (var item in ViewBag.Entradas)
                {
                    <tr>
                        <td class="tdEnt">@item.codigo</td>
                        <td class="tdEnt">@item.dataentrada</td>
                        <td class="tdEnt">@item.quantidadeatual</td>
                        <td class="tdEnt">
                            <div class="IconesContainerEnt">
                                <div class="Icone1Ent">
                                    <button class="trash-btn">
                                        <div class="fas fa-trash"></div>
                                    </button>
                                </div>
                                <div class="Icone2Ent">
                                    <button class="edit-button">
                                        <div class="fas fa-edit"></div>
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>

                }
            </tbody>


        </table>
    </div>
    <div class="container3Ent">
        <div>
            <button class="btnEnt BtnAzulColorEnt">
                Voltar
            </button>
        </div>
    </div>
</div>

