<!DOCTYPE html>
<htmlProduto lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="Produto.css">
    </head>
    <bodyProduto>

        <divProduto class="form-containerProduto">
            <h2Produto>Cadastro de Produto</h2Produto>
            <form action="#" method="POST">
                <label class="codigoProduto">descricao:</label>
                <input class="codigocoProduto" required>

                <label class="DescricaoProduto">Unidade de Medida:</label>
                <input class="descricaoProduto" required>

                <label class="UnidadeProduto">EstoqueAtual</label>
                <input class="unidadeProduto" required>

                <label class="epermanente">Epermanente</label>
                <input class="Epermanete" required>

                <label class="codigoCategoria">Codigo Categoria</label>
                <input class="CodigoCategoria" required>

                <div class="button-containerProduto">
                    <button type="button" class="voltarProduto">Voltar</button>
                    <button type="button" class="cancelarProduto">Cancelar</button>
                    <button type="submit" class="salvarProduto">Salvar</button>
                </div>
            </form>
        </divProduto>

    </bodyProduto>
</htmlProduto>
